<mat-toolbar color="primary" class="navbar-container">
  <div class="navbar-content">
    <div class="navbar-brand">
      <button mat-button routerLink="/" class="brand-button">
        <mat-icon>palette</mat-icon>
        <span class="brand-text">Exposio</span>
      </button>
    </div>

    <div class="navbar-nav">
      <button mat-button routerLink="/expositions" routerLinkActive="active-link">
        <mat-icon>collections</mat-icon>
        Gallery
      </button>
      <button mat-button routerLink="/sale-ads" routerLinkActive="active-link">
        <mat-icon>shopping_cart</mat-icon>
        Marketplace
      </button>
    </div>

    <div class="navbar-spacer"></div>

    <div class="navbar-user" *ngIf="isAuthenticated$ | async; else guestMenu">
      <button mat-icon-button (click)="navigateToCreate()" matTooltip="Create New">
        <mat-icon>add_circle</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-trigger">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu" class="user-dropdown">
        <div class="user-info" mat-menu-item disabled>
          <div class="user-email">{{ (currentUser$ | async)?.email }}</div>
        </div>
        <mat-divider></mat-divider>
        
        <button mat-menu-item (click)="navigateToDashboard()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </button>
        
        <button mat-menu-item (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <ng-template #guestMenu>
      <div class="navbar-guest">
        <button mat-button routerLink="/auth/login" class="login-button">
          Login
        </button>
        <button mat-raised-button routerLink="/auth/register" color="accent" class="register-button">
          Sign Up
        </button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>