<div class="not-found-container">
    <div class="not-found-content">
        <mat-icon class="not-found-icon">error_outline</mat-icon>
        <h1>404 - Page Not Found</h1>
        <p>The page you're looking for doesn't exist.</p>
        <div class="not-found-actions">
            <button mat-raised-button color="primary" routerLink="/">
                <mat-icon>home</mat-icon>
                Go Home
            </button>
            <button mat-stroked-button routerLink="/expositions">
                <mat-icon>collections</mat-icon>
                Browse Gallery
            </button>
        </div>
    </div>
</div>